@import 'variables';


main {
    max-width: 1200px;
    margin: 0 auto;
}

.devices-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   @media screen and (max-width: 1200px){
        justify-content: none;
   }
}