@import 'variables';


main {
    max-width: 1200px;
    margin: 0 auto;
}

.success-notification {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid #EAF7EE;
    border-radius: 10px;
    background-color: #EAF7EE;
    width: 400px;


    .notification-icon {
        color: #3AB25C;
        width: 20px;
        height: 20px;
        position: relative;
        top: 4px;
        right: 5px;
    }
}

.devices-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10px;
    }

    @media (max-width: 860px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
}